body {
  @apply font-sans text-base;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div, span {
  @apply w-full h-auto;
}

code {
  @apply font-mono text-base;
}

h1 {
  @apply w-full my-4 pl-4 text-2xl border-l-8 border-solid border-green-400;
}

h2 {
  @apply w-full my-8 pl-2 text-xl border-l-4 border-solid border-green-400;
}

h3 {
  @apply w-full my-4 pb-1 text-lg font-bold border-b-4 border-dotted border-green-400;
}

h4 {
  @apply w-full my-4 pb-1 text-base font-bold border-b border-solid border-green-400;
}